<launch>

    <arg name="pose_topic" default="/tartanvo/camera_pose"/>

    <!-- start orb slam monocular node -->
    <node name="read_save_pose_tartan" pkg="vo_all_at_once" type="read_save_pose.py"  respawn="false" output="screen">
            <param name="pose_topic"      type="string"   value="$(arg pose_topic)" />
    </node>


</launch>