<launch>

    <arg name="pose_topic" default="/tartanvo/camera_pose"/>
    <arg name="msg_type" default="PoseStamped"/>

    <node name="read_save_pose_tartan" pkg="vo_all_at_once" type="read_save_pose.py"  respawn="false" output="screen">
            <param name="pose_topic"      type="string"   value="$(arg pose_topic)" />
            <param name="msg_type"      type="string"   value="$(arg msg_type)" />
    </node>


</launch>