<launch>

    <arg name="cam_topic" default="/airsim_node/RovSimple/front_right_custom/Scene"/>
    <arg name="orb_slam3_path" default="$(env HOME)/dev/SLAM/ORB_SLAM3"/>
    <arg name="vocabulary_path" default="$(arg orb_slam3_path)/Vocabulary/ORBvoc.txt"/>
    <arg name="config_file" default="$(find orb_slam3_ros_wrapper)/config/UWRS.yaml"/>
    <arg name="world_frame_id" default="world_vo"/>

    <include file="$(find orb_slam3_ros_wrapper)/launch/mono.launch" pass_all_args="true"/>

    <arg name="tartanvo_model_path" default="$(find tartan_vo_ros)/models/1914.pkl"/>
    <arg name="image_width" default="1280"/>
    <arg name="image_height" default="720"/>
    <arg name="focal_x" default="640.0"/>
    <arg name="focal_y" default="640.0"/>
    <arg name="center_x" default="640.0"/>
    <arg name="center_y" default="360.0"/>

    <include file="$(find tartan_vo_ros)/launch/tartanvo.launch" pass_all_args="true"/>

    <!-- Visualization - RViz-->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find vo_all_at_once)/config/uwrs.rviz" output="screen" />

    <node pkg="tf" type="static_transform_publisher" name="worlds_broadcaster" args="0 0 0 0 0 0 1 world_ned world_vo 100" />


    <arg name="gt_pose_topic" default="/airsim_node/RovSimple/odom_local_ned"/>
    <arg name="gt_msg_type"   default="Odometry"/>

    <arg name="orb_pose_topic" default="/orb_slam3/camera_pose"/>
    <arg name="orb_msg_type"   default="PoseStamped"/>

    <arg name="tartan_pose_topic" default="/tartanvo/camera_pose"/>
    <arg name="tartan_msg_type"   default="PoseStamped"/>

    <arg name="db_format" default="tum-rgbd"/>
    <arg name="file_dir"  default="$(find vo_all_at_once)/saved"/>

    <node name="read_save_pose_tartan" pkg="vo_all_at_once" type="read_save_all_poses.py"  respawn="false" output="screen">
            <param name="gt_pose_topic"     type="string"   value="$(arg gt_pose_topic)" />
            <param name="gt_msg_type"       type="string"   value="$(arg gt_msg_type)" />

            <param name="orb_pose_topic"    type="string"   value="$(arg orb_pose_topic)" />
            <param name="orb_msg_type"      type="string"   value="$(arg orb_msg_type)" />
            
            <param name="tartan_pose_topic" type="string"   value="$(arg tartan_pose_topic)" />
            <param name="tartan_msg_type"   type="string"   value="$(arg tartan_msg_type)" />
            
            <param name="db_format"     type="string"   value="$(arg db_format)" />
            <param name="file_dir"      type="string"   value="$(arg file_dir)" />
    </node>


</launch>